<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('ByXc的github') %></h3>
    <div class="widget">
      <li> <a href="https://github.com/ByXc01"tital="ByXc's Blog">點擊進入github</a></li>
    </div>
  </div>
<% } %>
